---
import ThemeToggle from "./ThemeToggle.astro";
import { capitalizeWord } from "../utils";
import { SITE_TITLE } from "../../consts";
import NavItem from "./NavItem.astro";

const pathname = new URL(Astro.request.url).pathname;
const pages = ["blog", "projects"];
---

<header>
  <nav
    aria-label="Website navigation"
    class="mt-5 flex flex-col items-center gap-4 px-7 sm:flex-row sm:items-center sm:justify-between sm:gap-0 lg:mx-auto lg:w-8/12 lg:p-0"
  >
    <a
      aria-label="Navigate to homepage"
      class="rounded-md font-brand text-4xl tracking-wider hover:text-green-700 focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-green-700 dark:hover:text-green-300 dark:focus-visible:ring-green-600 sm:mr-auto"
      href="/">{SITE_TITLE}</a
    >
    <ul class="mr-4 flex items-center gap-4 text-xl">
      {
        pages.map((page) => {
          const isActive =
            (page === "blog" && pathname === "/") ||
            new RegExp(`^\/${page}*`).test(pathname);

          return (
            <NavItem {isActive}>
              <a
                aria-label={`Navigate to ${page} page`}
                class="rounded-md focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-green-700 dark:focus-visible:ring-green-600"
                href={`/${page}`}
              >
                {capitalizeWord(page)}
              </a>
            </NavItem>
          );
        })
      }
      <li>
        <ThemeToggle />
      </li>
    </ul>
  </nav>
</header>
