---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import RelatedPosts from "./RelatedPosts.astro";
import Tags from "./Tags.astro";
import { formatDate } from "../utils";

type Props = CollectionEntry<"posts">["data"];

const {
  id,
  title,
  description,
  image,
  tags,
  modDate,
  pubDate,
  video,
  summary,
  series,
} = Astro.props;
---

<BaseLayout title={title} description={description}>
  <article class="flex flex-col gap-12 px-4 text-lg md:px-7 md:text-xl lg:p-0">
    <header class="flex flex-col items-center gap-2 md:gap-4">
      <nav class="self-center" aria-label="Related tags">
        <Tags {tags} />
      </nav>
      <div class="flex flex-col items-center">
        <span class="flex gap-1 md:gap-2">
          <strong
            class="select-none self-start font-brand text-sm text-green-800 dark:text-green-600/90 md:text-base"
            >#{id}</strong
          >
          <h1
            class="font-headline text-4xl text-sage-800 dark:text-sage-500 lg:text-5xl"
          >
            {title}
          </h1>
        </span>

        <time class="mt-2 text-base" datetime={formatDate(modDate)}
          >Updated: {formatDate(modDate)}</time
        >
      </div>
    </header>
    <section
      class="flex flex-col items-center gap-5 2xl:flex-row-reverse 2xl:items-start 2xl:justify-center 2xl:gap-10"
    >
      {
        summary && (
          <div class="max-w-[70ch] 2xl:basis-[50%]">
            <h2 class="text-xl font-bold text-sage-800 dark:text-sage-500 2xl:text-2xl">
              TL;DR
            </h2>
            <p class="text-lg 2xl:text-xl">{summary}</p>
          </div>
        )
      }
      <figure>
        {
          video ? (
            <video
              class="aspect-video w-[40rem] rounded-md focus-visible:outline-none focus-visible:ring-4 focus-visible:ring-green-700 dark:focus-visible:ring-green-600"
              preload="metadata"
              controls
            >
              <source src={`${video.url}.webm`} type="video/webm" />
              <source src={`${video.url}.mp4`} type="video/mp4" />
            </video>
          ) : (
            <img
              class="aspect-video w-[40rem] rounded-md"
              src={image.url}
              alt={image.alt}
            />
          )
        }

        <figcaption class="text-sm md:text-base">
          {video ? video.description : image.alt}
        </figcaption>
      </figure>
    </section>
    <hr
      role="presentation"
      class="mx-auto w-1/2 border border-sage-800 opacity-20 dark:border-yellow-600 md:w-1/4"
    />
    <slot />
    <RelatedPosts {tags} {series} />
  </article>
</BaseLayout>
